{% extends 'dashboard.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="panel-heading">
        <h3 class="panel-title"><center> Erstellen von neuen News</center></h3>
    </div>

    <div class="jumbotron">
        <a class="btn btn-primary" href="/dashboard/news">zurück zur Übersicht</a>

        <h2 class="page-header">News bearbeiten</h2>

    </div>

{% endblock %}
