<!DOCTYPEhtml>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Basis-Webseiten HTML-Datei">
    <meta name="author" content="Michael Trotzer">

    <title>{% block title %}MetSoft UG{% endblock %}</title>

    <!-- Bootstrap core CSS CND -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaSkript -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>

<body>

<div class="container">

    <div class="masthead">

        <h3 class="text-muted">Management Enterprise Technologie Software</h3>

            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="/">MetSoft UG</a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                            <!-- Suchfunktion für die Webseite vorerst ausgelagert!
                            <ul class="nav navbar-nav">
                                <form class="navbar-form navbar-right" role="search" abineguid="AF97B807692F4671AF3FE3656E428E29">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </ul>
                             Suchfunktion für die Webseite ausgelagert! -->

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Startseite</a></li>
                                <li><a href="/kontakt">Kontakt</a></li>
                                 <li><a href="/anmelden">Anmelden</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </nav>
    </div>

    <!-- Begin page content -->
    <div>
        {% block body %}
            <!-- Hier kommen die jeweiligen Seitenlayouts rein -->
        {% endblock %}
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- footer start -->
            <div class="row">
                <!-- Footer linke Spalte -->
                <div class="col-md-4">
                    <h3> Hier finden Sie uns! </h3>
                    <address>
                        <strong>MetSoft UG</strong><br>
                        Sprengelstraße 27<br>
                        13353 Berlin<br>
                        (+49) 01725648306 <br>
                    </address>

                    <address>
                        <strong>Michael Trotzer</strong><br>
                        <a href="mailto:#">michael.trotzer@googlemail.com</a>
                    </address>
                </div>

                <!-- Footer mittlere Spalte -->
                <div class="col-md-4">
                    <h3> Informationen </h3>
                    <p> AGB´s </p>

                </div>

                <!-- Footer rechte Spalte -->
                <div class="col-md-4">
                    <h3> Sozialnetwork</h3>
                    <p> Facebook </p>
                </div>

            </div>
        </div>
    </div>

    <p>&copy; Design by Michael Trotzer</p>


    </div>


    {% block javascripts %}{% endblock %}
</body>
</html>