{% extends 'dashboard.html.twig' %}

{% block body %}
    {#@TODO keine hartgecodeten URLS verwenden#}
    <a class="btn btn-default" href="/dashboard/mitarbeiter">Zurück zur Mitarbeiterübersicht</a>
    <hr>

    <h2 class="page-header">{{ mitarbeiter.vorname }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Category: {{ mitarbeiter.nachname }}</li>

    </ul>


{% endblock %}