{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="jumbotron">

        <h2 class="page-header">Neuen Mitarbeiter anlegen</h2>

        <a class="btn btn-default" href="/dashboard/mitarbeiter">zurück!</a>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}


    </div>

{% endblock %}
