{% extends 'dashboard.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="panel-heading">
        <h3 class="panel-title"><center>Übersicht der Finanzen</center></h3>
    </div>

    <div class="jumbotron">
        <p> Hallo das hier ist die Gesamtübersicht der Finanzen</p>
    </div>

{% endblock %}
