{% extends 'dashboard.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="panel-heading">
        <h3 class="panel-title"><center>Übersicht des Dashboards</center></h3>
    </div>

    <div class="jumbotron">
        <p> Überschrift</p>
    </div>

{% endblock %}
