
<!DOCTYPEhtml>
<html lang="de">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Basis HTML-Datei">
        <meta name="author" content="Michael Trotzer">

        <title>{% block title %}MetSoft UG{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap core JavaSkript -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}

        <!-- Custom styles for this template -->
        <link href="jumbotron.css" rel="stylesheet">

    </head>

        <body>
        Nach der Anmeldung auf der Webseite sollte hier ein Dashboard für die Geschäftsführung erscheinen!

        Auch der todoController soll hier implementiert werden, damit die Geschäftsführung wichtige Todo´s auf dem Schirm hat :)
        </body>
</html>